/***************************
 GENERAL 
 **************************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
	display: none;
}

.selected {
	color: tomato;
}

a {
	text-decoration: none;
	color: white;
}

.button {
	padding: 1em 1.5em;
	color: white;
	background-color: #7cc74c;
	border: none;
	border-radius: 6px;
	margin-top: 10px;
    display: block;
    float: right;
}

/***************************
 SPECIFIC 
 **************************/

/***** header and footer ******/

.main-header, .main-footer {
	background-color: #137abe;
	margin: 0;
	height: 10em;
	box-shadow: 0 10px 5px #000;
	position: relative;
}

.main-header {
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.logo {
	float: left;
	padding: 0.5em 1em;
	height: 6em;
}

.main-footer .logo {
	position: absolute;
	bottom: 0;
}

.menuButton {
	background: 0 0;
    position: absolute;
    right: 2rem;
    top: 1rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    border: 1px solid rgba(208,207,207,.5);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.menuButton:hover {
	background:rgba(208,207,207,.1);
	cursor:pointer
}

/****** navigation *******/ 
.navigation {
	display: none;
}

.navigation ul {
	margin: 0;
}

.navigation li {
	display: inline-block;
	padding: 0.5em;
}

/****** modal navigation ******/
.overlay {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #63b8dc; /* Fallback color */
    -webkit-animation-name: animateOpacityIn;
    -webkit-animation-duration: 0.4s;
    animation-name: animateOpacityIn;
    animation-duration: 0.4s
}

@-webkit-keyframes animateOpacityIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes animateOpacityIn {
    from {opacity: 0}
    to {opacity: 1}
}
.overlay .content{
	margin: 0 auto;
	-webkit-animation-name: animateWidthIn;
    -webkit-animation-duration: 0.4s;
    animation-name: animateWidthIn;
    animation-duration: 0.4s
}

@-webkit-keyframes animateWidthIn {
    from {width: 80%;} 
    to {width: 100%;}
}

@keyframes animateWidthIn {
    from {width: 80%;} 
    to {width: 100%;}
}

.overlay .modalNav {
    background-color: #fff;
    padding: 4em;
    margin: 4em;
}

.modalNav ul {
	list-style: none;
	border: 1px solid #d0cfcf;
	padding: 0;
	margin: 0;
}

.modalNav a {
	display: block;
	padding: 2rem;
	color: black;
	font-weight: 700;
	font-size: 1.5em;
	-webkit-animation-name: animatePaddingIn;
    -webkit-animation-duration: 0.4s;
    animation-name: animatePaddingIn;
    animation-duration: 0.4s
}

@-webkit-keyframes animatePaddingIn {
    from {padding: 1rem;} 
    to {padding: 2rem;}
}

@keyframes animatePaddingIn {
    from {padding: 1rem;} 
    to {padding: 2rem;}
}

.modalNav a:hover {
	background-color: #f0f0f0;
}

.modalNav li {
	border-bottom: 1px solid #d0cfcf;
}

.overlay .exit {
	position: fixed;
    z-index: 4;
    background: #203b46;
    width: 4rem;
    height: 4rem;
    top: 2rem;
    left: 2rem;
}

.overlay .exit span {
	color: #fff;
	font-size: 3rem;
	padding-left: 1.3rem;
}

.exit:hover,
.exit:focus {
    background-color: black;
    cursor: pointer;
}

.exit span:hover,
.exit span:focus {
	pointer-events: none;
}



/***** - - main content of site - - *****/

/***** heroes ******/

.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	margin: -1px;
	display: flex;
}

.hero1  {
	background-image: url("../images/dad.png");
	height: 400px;
}

.hero2  {
	background-image: url("../images/dad2.png");
}

.hero3  {
	background-image: url("../images/dad3.png");
}

.hero h1, .hero h2 {
	color: white;   
	text-shadow: 1px 2px 10px rgba(0,0,0, 0.5);
	margin: 0;
}

.hero .textContainer {
	align-self: center;
	padding-left: 100px;
}

.hero1 h1 {
	margin: auto; /* centers title */
}

.hero3 .textContainer {
	text-align: right;
	margin-left: auto;
	padding-right: 100px;
}


/***** info bars ******/

.infoBar {
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	position: relative;
	padding-bottom: 30px;
}

.survey, .questions {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	padding-top: 30px;
}

.survey img, .questions img {
	height: 100px;
}

.horizLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #999;
    margin: 1em 0;
    padding: 0;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.whoWeAre {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 50px;
}

.fourthBar {
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

/***************************
MEDIA QUERIES
**************************/

@media only screen and (min-width: 500px){

	.hero1  {
		height: 600px;
		line-height: 600px;
	}

	.survey, .questions {
		float: left;
		width: 42%;
		margin-left: 4%;
		margin-right: 4%;
	}
	
	.navigation {
		padding-right: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: right;
	}

	.main-header .navigation {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.twoThirdsDiv {
		width: 60%;
		float: left;
		padding-right: 10%;
	}

	.oneThirdDiv {
		width: 20%;
		padding-top: 1px; /*somehow lines up the titles THE TEAM and NEWS */
	}

	.fourthBar {
		padding: 100px;
		padding-top: 20px;
	}
}

@media only screen and (min-width: 700px){
	.navigation {
		display: inline;
	}
	.menuButton {
		display: none;
	}
}

@media only screen and (min-width: 900px){
	.hero2  {
		height: 400px;
	}
	.logo { 
		height: 8em;
	}
	.main-footer .logo {
		position: static;
	}
}

@media only screen and (min-width: 1400px){
	.hero3  {
		height: 500px;
	}
}

/*320*/
/*480*/
/*font size bump somewhere in here*/
/*600  mobile navigation but desktop style */
/*1000*/
/*1200*/
